
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ESTILOS PAGINA PRINCIPAL */
.container_main{
    background-image: url('img/frente-monserrat-noche-ajustada.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

/* ESTILOS MENU */
.title {
    color: white;
    font-size: 48px;
}
.h2 {
    color: white;
    font-size: 24px;
    margin-top: 10px;
}
.overlay p {
    color: #f5f5f5;
    font-size: 20px;
}
.overlay h1, .overlay p {
    color: white;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.9); 
}

.title_container {
    padding-top: 60px; 
    padding: 10px 0;
    text-align: center;
}

.contenedor div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  

.container_menu{
    background-image: url('img/menu-uadebites.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contenedor {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
    
.caja {
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin: 0 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
.caja:hover {
background-color: rgba(255,255,255,0.5);
transform: scale(1.05);
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.contenedor div a {
    text-decoration: none;
    color: inherit;
}  

.form_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem 
}

.form_btn a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
    transition: .3s;
}
.form_btn a:hover {
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.1);
}

/* ESTILOS PAGINAS EDIFICIOS */
.container {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-image: url('img/menu-uadebites.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center
}

.subcontainer {
    width: 60%;
    height: 60%;
    height: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: auto
}


.build {
    backdrop-filter: blur(14px);
    padding: 30 0 30 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,255,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.build:hover {
    background-color: rgba(255,255,255,0.1);
    transform: scale(1.03);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.4);
}

.build .build_title {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 800
}

.build div p {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 300;
}

.title {
    font-size: 3rem;
    font-weight: 800
}

.container .back_btn {
    font-weight: 700;
    color: white;
    width: 100%;
    margin: 30px 0 0 30px;
    display: flex;
    align-items: center;
}

.back_btn img {
    margin-right: 10
}

.starbu_container {
    height: 35vh;
    width: 100%;
    background-image: url('img/starbucks-2.png');
    background-position: center;
    background-repeat: no-repeat;
}

.container_contact {
    width: 100%;
    height: 100vh;
    background-image: url('img/ChatGPT\ Image\ 25\ abr\ 2025\,\ 09_49_07\ p.m..png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.subcontainer_contact {
    width: 50%;
    height: 70%;
    margin: auto;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(14px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.4);
}

.subcontainer_contact .title{
    color: #f2994a;
    font-size: 2.2rem;
    text-align: center;
}

.main_contact {
    width: 60%;
    margin: auto;
}

.form_contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form_contact form {
  padding: 2rem;
  border-radius: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input,
form textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: inherit;
  background: rgba(255, 255, 255, 1);
  color: #000000;
  outline: none;
  transition: all 0.3s ease;
}

form input::placeholder,
form textarea::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

form input:focus,
form textarea:focus {
  background: rgba(255, 255, 255, 0.8);
}

form button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  color: #333;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

form button:hover {
  transform: scale(1.02);
}


.subcontainerinde {
    width: 40%;
    height: 30%;
    text-align: center;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
    display: flex;
}

.buildinde {
    backdrop-filter: blur(14px);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,255,0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    
}

.buildinde p {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 300;
}

.buildinde:hover {
    background-color: rgba(255,255,255,0.1);
    transform: scale(1.03);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.4);
}
.buildinde .buildinde_title {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 800
}
